@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Rubik:wght@800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;

}

nav ul a {
    font-weight: 600;
    font-size: 1rem;
    color: #424242;
    text-decoration: none;
}

.logo {
    color: #131313;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
}

/* banner section style */
.banner_img {
    width: 100%;
}

.banner_content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;


}

.bnnet_title {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;

}

.banner_description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;

}

.bttn {
    border-radius: 8px;
    background: #FF900E;
    padding: 10px 15px;
    color: white;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */
.featurs_section {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
    margin: 0 auto;

}

.image_contaier {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.image_contaier img {
    width:260px;
}

.fratures_contant {
    padding-left: 60px;
    padding-right: 60px;
}

.features_title {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.description {
    color: #727272;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;

}

.quick {
    color: #727272;
    font-style: normal;
    font-weight: 500;

}

.our {
    color: #131313;
    font-style: normal;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-weight: 700;
}

/* facts section */
.some_facts {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}

.facts {
    width: 90%;
    margin: auto;
}

.facts_container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.facts_container .card {
    border-radius: 8px;
    border: 1px solid salmon;
    text-align: center;
    padding: 30px;

}

.facts_container .cards {
    color: #424242;
    font-size: 2rem;
    font-weight: 600;
}

.facts_container .card_title {
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
}

/* sponsors sections */
.sponsor_title {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}

.spon_descriptions {
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sponsor_img_container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

/* responsive mediaQuary */

/* mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,.sponsor_img_container {
        flex-direction: column;
    }

    .bnnet_title {
        font-size: 2em;
    }

    .featurs_section {
        flex-direction: column;
        width: 100%;
    }

    .fratures_contant {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .image_contaier {
        grid-template-columns: 1fr;
    }

    .facts_container {
        flex-direction: column;
        gap: 20px;
        width: 90%;
        margin: auto;
    }

    .sponsor_img_container img{
        width: 165px;

    }
}

/* tablet devices */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 40px;
    }

    nav {
        flex-direction: column;
    }

    .featurs_section, .sponsor_img_container {
        flex-direction: column;
    }
    .image_contaier {
    
    }
    .fratures_contant {
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .facts_container {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        gap: 10px;
        width: 90%;
        margin: auto;
        margin-top: 50px;

    }
    .sponsor_img_container{

    }
}